<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Kindly click on the link <%= user.reset_password_token %></h1>
    <p>to reset your password!</p>
  </body>
</html>